{% extends "generic/base.html" %}

{% block title %}Propose - Update Hardware{% endblock %}

{% block content %}
  <section>
    <h2>Update Hardware</h2>
    <form action="{% url 'hardware_update' hardware_id=hardware.id%}" method="POST">
      <table>
      {% csrf_token %}
      {{ form }}
      </table>
      <input class="create" type="submit" value="Save">
      <a class="cancel" href="{% url 'hardware_detail' hardware_id=hardware.id %}">Cancel</a>
    </form>
  </section>
{% endblock content %}