{% extends "generic/base.html" %}

{% block title %}Propose - Delete Hardware{% endblock %}

{% block content %}
  <section>
    <h2>Delete Hardware</h2>

    <p class="warning">Are you certain you want to delete this Hardware? Please be sure to edit any Specifications that are currently using this hardware.</p>

    <p>Hardware Name: {{ hardware.name }}</p>

    <form action="{% url 'hardware_delete' hardware_id=hardware.id %}" method="POST">
      <table>
      {% csrf_token %}
      </table>
      <input class="delete" type="submit" value="Delete"/>
      <a class="cancel" href="{% url 'hardware_detail' hardware_id=hardware.id %}">Cancel</a>
    </form>
  </section>
{% endblock %}