{% extends "generic/base.html" %}

{% block title %}Project Detail{% endblock %}

{% block content %}
  <section class="project_detail">
    <table>
      <h2>{{ project.name }} Project</h2>
        <tr><td>Jobsite Address:</td> <td>{{ project.physical_address }}</td></tr>
        <tr><td>Site Contact:</td> <td>{{ project.site_contact }}</td></tr>
        <tr><td>Contact Phone:</td> <td>{{ project.contact_phone }}</td></tr>
        <tr><td>Contact Email:</td> <td>{{ project.contact_email }}</td></tr>
        <tr><td>Hourly Rate:</td> <td>${{ project.hourly_rate }}</td></tr>
      </table>
        <a href="{% url 'project_update' proj_id=project.id %}">Update</a>
        <a href="{% url 'project_delete' proj_id=project.id %}">Delete</a>
  </section>

<section class="spec_block">
  <h3>Specifications</h3>
  <p><a href="{% url 'spec_create' proj_id=project.id %}">Create New Specification</a></p>
  <ul>
    {% for spec in specs %}
      <li>
        <table>
          <h4><a href="{% url 'spec_detail' proj_id=project.id spec_id=spec.id %}">{{spec.name}}</a></h4>
            <td>Construction Style:</td> <td>{{spec.construction}}</td></tr>
            <td>Catalog:</td> <td>{{spec.catalog}}</td></tr>
            <td>Interior Material:</td> <td>{{spec.interior_material}}</td></tr>
            <td>Exterior Material:</td> <td>{{spec.exterior_material}}</td></tr>
            <td>Finish Level:</td> <td>{{spec.finish_level}}</td></tr>
      </table>
       </li>
      {% endfor %}
    </ul>
  </section>
{% endblock content %}