{% extends "generic/base.html" %}

{% block title %}Project Detail{% endblock %}

{% block content %}
<section class="project_detail">
  <h2>{{ project.name }} Project</h2>
  <p><span>Jobsite Address:</span> {{ project.physical_address }}</p>
  <p><span>Site Contact:</span> {{ project.site_contact }}</p>
  <p><span>Contact Phone:</span> {{ project.contact_phone }}</p>
  <p><span>Contact Email:</span> {{ project.contact_email }}</p>
  <p><span>Hourly Rate:</span> ${{ project.hourly_rate }}</p>
</section>

<section class="spec_block">
  <h3>Specifications</h3>
  <ul>
    {% for spec in specs %}
      <li>
        <h4>{{spec.name}}</h4>
        <p><span>Construction Style:</span> {{spec.construction}}</p>
        <p><span>Catalog:</span> {{spec.catalog}}</p>
        <p><span>Interior Material:</span> {{spec.interior_material}}</p>
        <p><span>Exterior Material:</span> {{spec.exterior_material}}</p>
        <p><span>Finish Level:</span> {{spec.finish_level}}</p>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}