[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
coverage = "*"
factory-boy = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-registration = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-sass-processor = "*"
libsass = "*"
boto3 = "*"
django-storages = "*"
gunicorn = "*"
redis = "*"
xhtml2pdf = "*"

[requires]
python_version = "3.7"
