{% extends "generic/base.html" %}

{% block title %}Propose - Delete Labor{% endblock %}

{% block content %}
  <section>
    <h2>Delete Labor Item</h2>

    <p class="warning">Are you certain you want to delete this Labor Item? This could have some unforeseen consequences that cause the entire site to go down.</p>

    <p>Labor Name: {{ labor.item_name }}</p>

    <form action="{% url 'labor_delete' labor_id=labor.id %}" method="POST">
      <table>
      {% csrf_token %}
      </table>
      <input class="delete" type="submit" value="Delete"/>
      <a class="cancel" href="{% url 'labor_detail' labor_id=labor.id %}">Cancel</a>
    </form>
  </section>
{% endblock %}