{% extends "generic/base.html" %}

{% block title %}Material Detail{% endblock %}

{% block content %}
<div class="material_detail">
  <h2>Material Detail</h2>
  <p>Material Name: {{ material.name }}</p>
  <p>Description: {{ material.description }}</p>
  <p>Thickness: {{ material.thickness }}</p>
  <p>Width: {{ material.width }}</p>
  <p>Length: {{ material.length }}</p>
  <p>Sheet Cost: {{ material.sheet_cost }}</p>
  <p>Waste Factor: {{ material.waste_factor }}</p>
  <p>Markup: {{ material.markup }}</p>
  <p>Date Updated: {{ material.date_updated }}</p>

  <p><a href="{% url 'material_update' material_id=material.id %}">Update</a></p>
  <p><a href="{% url 'material_delete' material_id=material.id %}">Delete</a></p>
</div>

{% endblock content %}