{% extends "generic/base.html" %}

{% block title %}Project Detail{% endblock title %}

{% block content %}
  <section class="project_detail">
      <a href="{% url 'project_home' proj_id=project.id %}">
        <h2>{{ project.name }} Project Detail</h2>
      </a>
    <table>
      <tr>
        <td>Jobsite Address:</td>
        <td colspan="2">{{ project.physical_address }}</td>
      </tr>
      <tr>
        <td>Site Contact:</td>
        <td colspan="2">{{ project.site_contact }}</td>
      </tr>
      <tr>
        <td>Contact Phone:</td>
        <td>{{ project.contact_phone }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Contact Email:</td>
        <td colspan="2">{{ project.contact_email }}</td>
      </tr>
      <tr>
        <td>Hourly Rate:</td>
        <td>${{ project.hourly_rate }}</td>
        <td></td>
      </tr>
    </table>
    <p class='update'><a href="{% url 'project_update' proj_id=project.id %}">Update</a></p>
    <p class='delete'><a href="{% url 'project_delete' proj_id=project.id %}">Delete</a></p>
  </section>
  <section id='specifications'>
    <h4>Specifications</h4>
    <table class="item_list">
      <thead>
        <tr>
          <th>Spec Name</th>
          <th>Catalog</th>
          <th>Interior Material</th>
          <th>Exterior Material</th>
        </tr>
      </thead>
      <tbody>
        {% for spec in specs %}
        <tr class="item">
          <td><a class="item_link" href="{% url 'spec_detail' proj_id=project.id spec_id=spec.id %}">{{ spec.name }}</a></td>
          <td>{{ spec.catalog }}</td>
          <td>{{ spec.interior_material.name }}</td>
          <td>{{ spec.exterior_material.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="create" href="{% url 'spec_create' proj_id=project.id %}">Create New Specification</a>
  </section>

  <section>
    <h3>Rooms</h3>
    <table class="item_list">
      <thead>
        <tr>
          <th>Room Name</th>
        </tr>
      </thead>
      <tbody>
        {% for room in project.rooms.all %}
        <tr class="item">
          <td><a href="{% url 'room_update' proj_id=project.id room_id=room.id %}">{{ room.name }}</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="create" href="{% url 'room_create' proj_id=project.id %}">Create New Room</a>
  </section>
{% endblock content %}