{% extends "generic/base.html" %}
{% load humanize %}

{% block title %}Project Home{% endblock %}

{% block content %}
  <section class="project-detail">
      <a href="{% url 'project_detail' proj_id=project.id %}">
        <h2>{{ project.name }} Project Invoice  -  ${{ project.price|floatformat:2|intcomma }}</h2>
      </a>
    {% for room in rooms %}
      <section class="room">
        <h4>{{ room.name }}</h4>
        <h5>${{ room.price|floatformat:2|intcomma }}</h5>
        <table >
          <thead>
            <tr>
              <th>Cabinet</br>Number</th>
              <th>Spec.</th>
              <th>Width</th>
              <th>Height</th>
              <th>Depth</th>
              <th>Number</br>Doors</th>
              <th>Number</br>Shelves</th>
              <th>Finished</br>Interior</th>
              <th>Finished</br>Left End</th>
              <th>Finished</br>Right End</th>
              <th>Finished</br>Top</th>
              <th>Finished</br>Bottom</th>
              <th>Cabinet</br>Price</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for cab in room.cabinets.all %}
            <tr>
              <td><a href="{% url 'cabinet_detail' proj_id=cab.project.id cab_id=cab.id %}">{{ cab.cabinet_number }}</a></td>
              <td><a href="{% url 'spec_detail' proj_id=cab.project.id spec_id=cab.specification.id %}">{{ cab.specification.name }}</a></td>
              <td>{{ cab.width }}"</td>
              <td>{{ cab.height }}"</td>
              <td>{{ cab.depth }}"</td>
              <td>{{ cab.number_of_doors }}</td>
              <td>{{ cab.number_of_shelves }} </td>
              <td>{% if cab.finished_interior == True %}✔{% endif %}</td>
              <td>{% if cab.finished_left_end == True %}✔{% endif %}</td>
              <td>{% if cab.finished_right_end == True %}✔{% endif %}</td>
              <td>{% if cab.finished_top == True %}✔{% endif %}</td>
              <td>{% if cab.finished_bottom == True %}✔{% endif %}</td>
              <td>${{ cab.price|floatformat:2|intcomma }}</td>
              <td><a href="{% url 'cabinet_update' proj_id=cab.project.id cab_id=cab.id %}">
                Edit</a></td>
              <td><a href="{% url 'cabinet_delete' proj_id=cab.project.id cab_id=cab.id %}">
                Delete</a></td>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p class='create'>
          <a href="{% url 'cabinet_create' proj_id=project.id room_id=room.id %}">Add Cabinet</a></p>
        <section class='counts'>
          <p class='cabinet_count'>{{ room.cabinets.all|length }} Cabinets</p>
          <p class='drawer_count'>{{ room.drawer_count }} Drawers</p>
        </section>
      </section>
    {% endfor %}

  </section>
{% endblock content %}