{% extends "generic/base.html" %}

{% block title %}Propose - Delete Project{% endblock %}

{% block content %}
  <section>
    <h2>Delete Project</h2>

    <p class="warning">Are you certain you want to delete this Project? This will also delete any Cabinets or Specification assiciated with this Project.</p>

    <p>Project name: {{ project.name }}</p>

    <form action="{% url 'project_delete' proj_id=project.id %}" method="POST">
      {% csrf_token %}
      <input class="delete" type="submit" value="Delete"/>
      <a class="cancel" href="{% url 'project_detail' proj_id=project.id %}">Cancel</a>
    </form>
  </section>
{% endblock %}