{% extends "generic/base.html" %}
{% load math_filters %}

{% block title %}Material List{% endblock %}

{% block content %}
  <section>
    <h2>Existing Materials</h2>
    <table class="item_list">
      <thead>
        <tr>
          <th>Name</th>
          <th>Thickness</th>
          <th>Width</th>
          <th>Length</th>
          <th>Cost</th>
          <th>Waste</th>
          <th>Markup</th>
        </tr>
      </thead>
      <tbody>
        {% for material in materials %}
          <tr class="item">
            <td><a class="item_link" href="{% url 'material_detail' material_id=material.id %}">{{ material.name }}</a></td>
            <td>{{ material.thickness }}"</td>
            <td>{{ material.width }}"</td>
            <td>{{ material.length }}"</td>
            <td>${{ material.sheet_cost }} / sheet</td>
            <td>{{ material.waste_factor|percent|floatformat:0 }}%</td>
            <td>{{ material.markup|percent|floatformat:0 }}%</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class='create' href="{% url 'material_create' %}">Create New Material</a>
  </section>
{% endblock content %}