{% extends "generic/base.html" %}
{% load math_filters %}

{% block title %}Propose - Material Detail{% endblock title %}

{% block content %}
  <section class="material_detail">
    <table>
      <h2>Material Detail</h2>
      <tr><td>Material Name:</td> <td>{{ material.name }}</td></tr>
      <tr><td>Description:</td> <td>{{ material.description }}</td></tr>
      <tr><td>Category:</td> <td>{{ material.category }}</td></tr>
      <tr><td>Material Type:</td> <td>{{ material.mat_type }}</td></tr>
      <tr><td>Thickness:</td> <td>{{ material.thickness }}"</td></tr>
      <tr><td>Width:</td> <td>{{ material.width }}"</td></tr>
      <tr><td>Length:</td> <td>{{ material.length }}"</td></tr>
      <tr><td>Sheet Cost:</td> <td>${{ material.sheet_cost }}</td></tr>
      <tr><td>Sq. Ft. Cost:</td> <td>${{ material.sq_ft_cost|floatformat:2 }}</td></tr>
      <tr><td>Waste Factor:</td> <td>{{ material.waste_factor|percent|floatformat:0 }}%</td></tr>
      <tr><td>Markup:</td> <td>{{ material.markup|percent|floatformat:0 }}%</td></tr>
      <tr><td>Date Updated:</td> <td>{{ material.date_updated }}</td></tr>
    </table>
    <a class='update' href="{% url 'material_update' material_id=material.id %}">Update</a>
    <a class='delete' href="{% url 'material_delete' material_id=material.id %}">Delete</a>
  </section>
{% endblock content %}