{% extends "generic/base.html" %}

{% block title %}Material Detail{% endblock title %}

{% block content %}
  <section class="material_detail">
    <table>
      <h2>Material Detail</h2>
      <tr><td>Material Name:</td> <td>{{ material.name }}</td></tr>
      <tr><td>Description:</td> <td>{{ material.description }}</td></tr>
      <tr><td>Thickness:</td> <td>{{ material.thickness }}"</td></tr>
      <tr><td>Width:</td> <td>{{ material.width }}"</td></tr>
      <tr><td>Length:</td> <td>{{ material.length }}"</td></tr>
      <tr><td>Sheet Cost:</td> <td>${{ material.sheet_cost }}</td></tr>
      <tr><td>Sq. Ft. Cost:</td> <td>${{ material.sq_ft_cost|floatformat:2 }}</td></tr>
      <tr><td>Waste Factor:</td> <td>{{ material.waste_factor }}</td></tr>
      <tr><td>Markup:</td> <td>{{ material.markup }}</td></tr>
      <tr><td>Date Updated:</td> <td>{{ material.date_updated }}</td></tr>
    </table>

    <p class='update'><a href="{% url 'material_update' material_id=material.id %}">Update</a></p>
    <p class='delete'><a href="{% url 'material_delete' material_id=material.id %}">Delete</a></p>
  </section>
{% endblock content %}