{% extends "generic/base.html" %}

{% block title %}Material Update{% endblock %}

{% block content %}
  <section>
    <h2>Update Material</h2>
    <form action="{% url 'material_update' material_id=material.id%}" method="POST">
        <table>
        {% csrf_token %}
        {{ form }}
        </table>
        <input class="create" type="submit" value="Save">
        <a class="cancel" href="{% url 'material_detail' material_id=material.id %}">Cancel</a>
    </form>
  </section>
{% endblock content %}