{% extends "generic/base.html" %}

{% block title %}Create Room{% endblock %}

{% block content %}
  <section>
    <h2>Create Room for {{ project.name }} Project</h2>

    <form action="{% url 'room_create' proj_id=project.id %}" method="POST">
      <table>
      {% csrf_token %}
      {{ form }}
      </table>
      <input class="create" type="submit" value="Submit">
      <a class="cancel" href="{% url 'project_detail' proj_id=project.id %}">Cancel</a>
    </form>
  </section>
{% endblock content %}