{% extends "generic/base.html" %}

{% block title %}Propose - Update Room{% endblock %}

{% block content %}
  <section>
    <h2>Update Room</h2>
    <form action="{% url 'room_update' proj_id=room.project.id room_id=room.id%}" method="POST">
      <table>
      {% csrf_token %}
      {{ form }}
      </table>
      <input class="create" type="submit" value="Save">
      <a class="cancel" href="{% url 'project_detail' proj_id=project.id %}">Cancel</a>
    </form>
  </section>
{% endblock content %}