{% extends "generic/base.html" %}

{% block title %}Propose - Cabinet List{% endblock %}

{% block content %}
  <section>
    <h2>List of Cabinets for this Project</h2>
    <ul>
    {% for cab in cabinets %}
      <li>
        <a href="{% url 'cabinet_detail' proj_id=project.id cab_id=cab.id %}">{{cab.cabinet_number}}</a>
        <p class='update'><a href="{% url 'cabinet_update' proj_id=project.id cab_id=cab.id %}">Update</a></p>
        <p class='delete'><a href="{% url 'cabinet_delete' proj_id=project.id cab_id=cab.id %}">Delete</a></p>
      </li>
    {% endfor %}
    </ul>
  </section>
{% endblock content %}