{% extends "generic/base.html" %}
{% load static %}

{% block title %}Cabinet Create{% endblock %}

{% block content %}
  <section>
    <h2>Create Cabinet</h2>
    <form action="{% url 'cabinet_create' proj_id=project.id room_id=room.id %}" method="POST">
      <table>
      {{ form }}
      </table>

      <h3>Drawers:</h3>
      <div id="add-drawer-button" class="create drawer-button">+</div>

      <table id="drawer-form"
          data-url="{% url 'drawer_form' proj_id=project.id %}">
          {% include './drawer_form.html' %}
      </table>
      <input class="create" type="submit" value="Submit">
    </form>
  </section>

  <script
    src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
    crossorigin="anonymous"></script>
  <script src="{% static 'js/app.js' %}"></script>
{% endblock content %}