{% extends "generic/base.html" %}

{% block title %}Labor Detail{% endblock %}

{% block content %}
  <div class="hardware_detail">
    <table>
      <h2>Labor Item Detail</h2>
      <tr><td>Labor Name:</td> <td>{{ labor.name }} </td></tr>
      <tr><td>Cost Per {{labor.unit_type }}:</td> <td>${{ labor.cost_per }}</td></tr>
      <tr><td>Markup:</td> <td>{{ labor.markup }}</td></tr>
    </table>

    <p><a href="{% url 'labor_update' labor_id=labor.id %}">Update</a></p>
    <p><a href="{% url 'labor_delete' labor_id=labor.id %}">Delete</a></p>
  </div>

{% endblock content %}