<p>Account:
    <a href="{% url 'account_detail' account_id=project.account.id %}">{{ project.account.name }}</a></p>
{% if not cabinet and not spec and not room %}
    <p>Related Projects:</p>
    <ul>
    {% for proj in project.account.projects.all %}
      <li><a href="{% url 'project_home' proj_id=proj.id %}">{{ proj.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Project:
        <a href="{% url 'project_home' proj_id=project.id %}">{{ project.name }}</a></p>
    <p>Related Specs:</p>
    <ul>
    {% for s in project.specifications.all %}
        <li><a href="{% url 'spec_detail' proj_id=project.id spec_id=s.id %}">{{ s.name }}</a></li>
    {% endfor %}
    </ul>
    <p>Related Rooms:</p>
    <ul>
    {% for r in project.rooms.all %}
        <li>
        <a href="{% url 'room_update' proj_id=project.id room_id=r.id %}">
            {{ r.name }}</a></li>
    {% endfor %}
    </ul>
    <p>Related Cabinets:</p>
    <ul>
    {% for c in project.cabinets.all %}
        <li>
        <a href="{% url 'cabinet_detail' proj_id=project.id cab_id=c.id %}">
            {{c.cabinet_number}}-{{c.room.name}}: {{ c.specification.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
