{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="{% sass_src 'css/main.scss' %}">
  <title>{% block title %}CPM{% endblock title %}</title>
</head>
<body>
  <header>
    <h1>CPM</h1>
  </header>
  <nav class="main_nav">
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account' %}">Accounts</a></li>
        <li><a href="{% url 'material_list' %}">Materials</a></li>
        <li><a href="{% url 'hardware_list' %}">Hardware</a></li>
        <li><a href="">Labor</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'django_registration_register' %}">Signup</a></li>
        <li><a href="{% url 'login' %}">Signin</a></li>
        {% endif %}
        {% if user.is_superuser %}
        <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
      </ul>
  </nav>
  <aside>
  {% if project %}
    {% include './aside.html' %}
  {% endif %}
  </aside>
  <main>
  {% block content %}
  <p>Content not loading...</p>
  {% endblock content%}
  </main>
  <footer></footer>
</body>
</html>