{% extends "generic/base.html" %}

{% block title %}Propose - Account List{% endblock %}

{% block content %}
  <section>
    <h2>Existing Accounts</h2>
    <table class="account_list item_list">
      <thead>
        <tr>
          <th>Account Name</th>
          <th>Billing Address</th>
          <th>Contact</th>
          <th>Billing Phone</th>
          <th>Billing Email</th>
        </tr>
      </thead>
      <tbody>
        {% for account in accounts %}
          <tr class="item">
            <td><a class="item_link" href="{% url 'account_detail' account_id=account.id %}">{{ account.name }}</a></td>
            <td><a href="{{ account.address_link }}" target="_blank">{{ account.billing_address }}</a></td>
            <td>{{ account.contact_name }}</td>
            <td class="no-wrap">{{ account.billing_phone }}</td>
            <td class="no-wrap"><a href="mailto:{{ account.billing_email }}">{{ account.billing_email }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class='create' href="{% url 'account_create' %}">Create Account</a>
  </section>
{% endblock content %}