header { grid-area: header; }
nav { grid-area: nav; }
aside {grid-area: aside; }
main { grid-area: main; }
footer { grid-area: footer; }

body {
    display: grid;
    grid-template-areas:    "header header"
                            "nav nav"
                            "aside main"
                            "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 100px 40px 1fr 30px;
    min-height: 100vh;
}

main {
    padding: 0px 20px;
}

.main_nav > ul > li > a {
    text-decoration: none;
    padding: 3px 10px;
    display: initial;
    font-size: 18px;
    border-radius: 5px;
}

.main_nav a:visited {
    text-decoration: none;
    color: inherit;
}

.main_nav a:hover {
    color: $hover-color;
    background-color: #CFCFCF;
    transition: 800ms;
}

a {
    text-decoration: none;
    color: $font-color;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
}

section h2 {
    padding: 10px 18px;
    background-color: #5D9379;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: rgb(44, 48, 49) 2px 2px 3px;
    margin: 0 0 20px;
}

a:visited {
    text-decoration: none;
    color: $font-color;
}

aside {
    border:1px solid $white;
    border-radius: 5px;
    margin-left: 20px;
    padding: 10px;
}

aside p {
    margin: 5px;
}

aside li {
    font-size: 16px;
    text-decoration: none;
}

#create_account_link {
    background-color: $primary-color;
    display: inline-block;
    padding: 5px 8px;
    width: fit-content;
    border-radius: 5px;
}

.update, .delete, .create {
    text-align: center;
    display: inline-block;
    width: 80px;
    padding: 5px 8px;
    background-color: rgb(108, 122, 128);
    border-radius: 5px;
    box-shadow: rgb(44, 48, 49) 2px 2px 3px;
    margin: 5px 6px 3px 0;
    font-family: inherit;
    font-size: 16px;
    color: $white;
    border: none;
}

.update:hover {
    background-color: rgb(134, 147, 153);
    transition: 200ms;
}

.delete {
    background-color: rgb(99, 51, 51);
}

.create {
    background-color: $hover-color;
    display: block;
    min-width: 120px;
    width: fit-content;
    margin-top: 10px;
}

.create:hover {
    background-color: rgb(124, 184, 155);
    transition: 200ms;
}

.delete:hover {
    background-color: rgb(124, 70, 70);
    transition: 200ms;
}

.room {
    background-color: $primary-color;
    margin: 20px 0;
    border-radius: 5px;
    padding: 13px;
    font-size: 16px;
    box-shadow: rgb(44, 48, 49) 2px 2px 3px;
}

.room td, .room th, .project_detail td, .cabinet th, .cabinet td {
    text-align: center;
    vertical-align: middle;
    min-width: initial;
    width: fit-content;
    padding: 5px 10px;
}

.project_detail td {
    text-align: left;
    width: 150px;
}

.room th, .cabinet th {
    border-bottom: 1px solid white;
}

.room p {
    margin: 2px;
}

ul a {
    width: fit-content;
    height: 100%;
    display: block;
}

.project_detail table {
    margin-bottom: 10px;
}

#specifications {
    margin: 30px 0;
}

.counts {
    text-align: right;
}

.cabinet_count, .drawer_count {
    display: inline-block;
    font-weight: 700;
}

.account_name, .material_list, .labor_list, .hardware_list {
    padding: 2px 7px;
    // background-color: $primary-color;
    border-radius: 5px;
    display: block;
    // width: 300px;
    font-size: 18px;
    // box-shadow: rgb(44, 48, 49) 2px 2px 3px;
}

section li:hover {
    background-color: $white;
    transition: 200ms;
    color: rgb(16, 77, 47);
}
