{% extends "generic/base.html" %}

{% block title %}Propose - Specification Detail{% endblock %}

{% block content %}
  <section class="spec_detail">
    <table>
      <h2>Specification: {{ spec.name }} </h2>
        <tr><td>Construction:</td> <td>{{ spec.construction }}</td></tr>
        <tr><td>Catalog:</td> <td>{{ spec.catalog }}</td></tr>
        <tr><td>Interior Material:</td> <td>{{ spec.interior_material }}</td></tr>
        <tr><td>Exterior Material:</td> <td>{{ spec.exterior_material }}</td></tr>
        <tr><td>Finish Level:</td> <td>{{ spec.finish_level }}</td></tr>
  </table>
    <a class="update" href="{% url 'spec_update' spec_id=spec.id proj_id=project.id %}">Update</a>
    <a class="delete" href="{% url 'spec_delete' spec_id=spec.id proj_id=project.id %}">Delete</a>
  </section>
{% endblock content %}