{% extends "generic/base.html" %}

{% block title %}Hardware Detail{% endblock %}

{% block content %}
<div class="hardware_detail">
  <h2>Hardware Detail</h2>
  <p>Hardware Name: {{ hardware.name }}</p>
  <p>Description: {{ hardware.description }}</p>
  <p>Thickness: {{ hardware.thickness }}</p>
  <p>Width: {{ hardware.width }}</p>
  <p>Length: {{ hardware.length }}</p>
  <p>Sheet Cost: {{ hardware.sheet_cost }}</p>
  <p>Waste Factor: {{ hardware.waste_factor }}</p>
  <p>Markup: {{ hardware.markup }}</p>
  <p>Date Updated: {{ hardware.date_updated }}</p>
</div>

{% endblock content %}