@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
    background-color: $background-color;
}

header, nav, aside, main, footer {
    padding: 10px;
}

nav ul li {
    display: inline;
}
nav ul li a {
    padding: 5px;
    cursor: pointer;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.4em;
    margin-top: 1em;
}
h4 {
    font-size: 1.2em;
}

p {
    margin: .8em auto;
}

main ul, aside ul {
    margin-left: 1em;
    margin-top: .6em;
}
main ul li, aside ul li {
    list-style-type: disc;
    margin-bottom: .4em;
}

aside ul li {
    margin-left: 1.3em;
}

th {
    font-weight: bold;
    text-align: left;
}
td, th {
    padding: 4px 8px 4px 0px;
}