nav ul li {
    display: inline;
}
nav ul li a {
    padding: 5px;
    cursor: pointer;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}

p {
    margin: .8em auto;
}

main ul, aside ul {
    margin-left: 1em;
}
main ul li, aside ul li {
    list-style-type: disc;
}