{% extends "generic/base.html" %}

{% block title %}Account Detail{% endblock %}

{% block content %}
  <section>
    <h2>Account Detail</h2>
    <table>
      <tr><td>Account Name:</td> <td>{{ account.name }}</td></tr>
      <tr><td>Address:</td> <td>{{ account.billing_address }}</td></tr>
      <tr><td>Phone:</td> <td>{{ account.billing_phone }}</td></tr>
      <tr><td>Email:</td> <td>{{ account.billing_email }}</td></tr>
      <tr><td>Contact:</td> <td>{{ account.contact_name }}</td></tr>
      <tr><td>Discount:</td> <td>{{ account.discount }}</td></tr>
    </table>

    <a class='update' href="{% url 'account_update' account_id=account.id %}">Update</a>
    <a class='delete' href="{% url 'account_delete' account_id=account.id %}">Delete</a>
    <a class='create' href="{% url 'project_create' account_id=account.id %}">Create Project</a>
  </section>
{% endblock content %}