{% extends "generic/base.html" %}

{% block title %}Delete Account{% endblock %}

{% block content %}
  <section>
    <h2>Delete Account</h2>

    <p class="warning">Are you certain you want to delete this Account? This will also delete all associated Projects, Specifications, and Cabinets</p>

    <p>Account name: {{ account.name }}</p>

    <form action="{% url 'account_delete' account_id=account.id %}" method="POST">
      {% csrf_token %}
      <input class='delete' type="submit" value="Delete"/>
      <a class='cancel' href="{% url 'account_detail' account_id=account.id %}">Cancel</a>
    </form>
  </section>
{% endblock %}