@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=El+Messiri:700');
@import url('https://fonts.googleapis.com/css?family=Katibeh');

body {
    font-family: 'Quicksand', sans-serif;
    color: $font-color;
    background-color: $background-color;
}

header > ul {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    text-align: center;
}

header > ul > li > a {
    width: 100%;
}

header > ul > li {
    margin: 10px 10px;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header, nav, aside, main, footer {
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 5px;
    cursor: pointer;
}

h1 {
    display: inline-block;
    font-size: 4.7em;
    font-family: 'Katibeh';
    margin: 15px 20px 20px 10px;
    text-shadow: gray 3px 3px 3px;
}

span.p {
    font-size: 1.3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
    margin-top: 1em;
}

h4 {
    font-size: 1.2em;
}

p {
    margin: .8em auto;
}

main ul, aside ul {
    margin-left: 1em;
    margin-top: .6em;
}

main ul li, aside ul li {
    list-style-type: disc;
    margin-bottom: .4em;
}

aside ul li {
    margin-left: 2.3em;
}

th {
    font-weight: bold;
    text-align: left;
}

td, th {
    min-width: 130px;
    padding: 4px 8px 4px 0px;
}

.account_aside {
    font-size: 26px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.project_aside {
    font-size: 22px;
    margin-left: 15px;
    margin-bottom: 15px;
}

input, textarea {
    font-family: 'Quicksand', sans-serif;
    color: rgb(54, 54, 54);
    font-size: 16px;
    width: 300px;
}

th > label {
    font-size: 20px;
}

// .account_aside:hover, .project_aside:hover {
//     color: $hover-color;
//     background-color: #CFCFCF;
//     transition: 800ms;
// }